@import './base.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: var(--color-text);
  background: var(--color-bg);
}

.accent-link {
  color: var(--color-accent);
}

@media (max-width: 768px) {
  #app {
    padding: 1.5rem;
  }
}
